/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
  padding: 0;
  margin: 0;
  background-color: #d4a76a;
}
h1 {
  color: #553100;
  font-family: sans-serif;
  float: left;
  padding-left: 20px;
}
.main-header {
  background-color: #ffdbaa;
  height: 125px;
}

.header-button {
  height: 50px;
  width: 100px;
  margin-right: 25px;
  font-size: large;
}

nav {
  float: inline-end;
  padding-top: 15px;
}

button a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

main {
  background-color: #d4a76a;
  border-top: 2.5px solid black;
  width: 100%;
  display: flex;
  justify-content: center;

  /* align-content: center; */
}

.box {
  margin: 20px;
  width: 400px;
  height: 300px;
  border: 2px solid white;
  background-color: white;
  text-align: center;
  align-content: center;
}

.box-header {
  text-align: center;
}

button {
  background-color: #805215;
}
.box-button {
  margin: 10px;
  text-align: center;
  border: 1.5px solid;
  width: 350px;
  height: 80px;
  font-size: 150%;
}

.box-paragraph {
  text-align: left;
  margin-left: 10px;
  font-size: 150%;
}

p {
  font-family: sans-serif;
}

header {
  font-family: sans-serif;
}

.box-container {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.large-box {
  margin: 20px;
  width: 90%;
  border: 1.5px solid white;
  background-color: white;
  align-content: center;
  text-align: center;
  background-color: white;
}

.large-button {
  width: 98%;
  height: 80px;
  font-size: 150%;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
}
