/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

h1 {
  color: #553100;
  font-family: sans-serif;
  padding-left: 100px;
  padding-top: 50px;
}
.main-header {
  background-color: #ffdbaa;
  height: 100px;
}

.header-button {
  background-color: #805215;
  height: 50px;
  width: 100px;
  margin-right: 25px;
}

nav {
  float: inline-end;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: sans-serif;
}
